<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>削除画面</title>
<link href="/css/check.css" rel="stylesheet"></link>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<meta charset="UTF-8">
</head>
<body>
	<h2>下記案件を削除します。よろしいですか？</h2>

	<!-- 一覧画面で表示されているtrタグを論理削除する -->
	<form action="#" th:action="@{/sales/delete}"
		th:object="${deleteUserRequest}" th:method="post">
		<table class="delete">
			<tr>
				<th class="cell_title">顧客</th>
				<th>:</th>
				<td th:name="Customer"><span th:each="clist : ${clist}"
					th:object="${clist}" th:text="${clist.customer}"
					th:class="${clist.customerid}" th:id="${clist.customerid}"
					th:name="${clist.customerid}"></span></td>
				<td><input type="hidden" th:id="*{customerid}"
					th:value="*{customerid}" class="text customerid" name="selectCus"></td>
			</tr>
			<tr>
				<th class="cell_title">受注日</th>
				<th>:</th>
				<td><span th:text="*{orderdate}" th:field="*{orderdate}"></span></td>
				<td><input type="hidden" th:field="*{orderdate}"
					class="text orderdate"></td>
			</tr>
			<tr>
				<th class="cell_title">S番号</th>
				<th>:</th>
				<td><span th:text="*{snumber}" th:field="*{snumber}"></span></td>
				<td><input type="hidden" th:field="*{snumber}"
					class="text snumber"></td>
			</tr>
			<tr>
				<th class="cell_title">件名</th>
				<th>:</th>
				<td><span th:text="*{title}" th:field="*{title}"></span></td>
				<td><input type="hidden" th:field="*{title}" class="text title"></td>
			</tr>

		</table>
		<input type="hidden" th:field="*{id}" th:value="*{id}" class="id">
		<br>

		<div class="leftbtn">
			<input type="submit" value="確認" class="btn">
		</div>
	</form>

	<!-- 一覧画面へ戻る -->
	<form th:action="@{/sales/List}" th:object="${addOrderRequest}">
		<input type="submit" value="戻る" class="btn rightbtn">
	</form>

	<script>
		$(function() {
			var selectC = $('input[name="selectCus"]').attr("id");
			var count1 = $('td[name="Customer"]').children().length;

			for (var i = 0; i < count1; i++) {

				var cusotmer = $('td[name="Customer"] span:eq(' + i + ')');

				if (cusotmer.attr("class") === selectC) {
					cusotmer.show();
				} else {
					cusotmer.hide();
				}
			}
		});
	</script>

</body>
</html>