@charset "UTF-8";

body {
	width: 960px;
	margin: 0 auto;
}

table {
	width: 90%;
	border-collapse: collapse;
}

.cell_title {
	text-align: right;
}

.notetitle {
	vertical-align: top;
}

.btn {
	width: 100px;
	background-color: #808080;
	border: 1px solid #000;
	padding: 3px 5px;
	color: #000;
}

.leftbtn {
	float: left;
	margin-left: 155px;
}

.rightbtn {
	float: right;
	margin-right: 350px;
}

.text {
	border: 1px solid #000;
	width: 169px;
	height: 22px;
}

.snumber {
	width: 40px;
}

.title {
	width: 344px;
}

.count {
	width: 38px;
}

.note {
	width: 344px;
	height: 100px;
}

.select {
	width: 175px;
}

.input {
	margin-left: 100px;
}

.errmsg ul li {
	list-style: none;
	padding: 0;
	margin: auto 0;
}